.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);  /* Plus transparent */
  backdrop-filter: blur(10px);  /* Effet flou */
  padding: 0.5rem 0;
  height: 40px;
  z-index: 1000;
  box-shadow: 0 2px 15px rgba(255, 255, 255, 0.1);  /* Ombre plus subtile */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);  /* Bordure subtile */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  height: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: optimal, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95px;
  width: auto;
  z-index: 1001;
}

.nav-links a:hover {
  color: rgba(255, 255, 255, 0.7);  /* Effet hover plus subtil */
  transform: scale(1.05);  /* Léger zoom au survol */
}



.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 100;
}

.main-message h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-message p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.landing-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color : rgba(255, 255, 255)
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);  /* Fond plus sombre */
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);  /* Curseur plus sombre */
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);  /* Bordure subtile */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);  /* Encore plus sombre au survol */
  border: 1px solid rgba(255, 255, 255, 0.2);  /* Bordure plus visible au survol */
}